= task_breadcrumbs

= form_for [@context.project, @context, @task] do |f|
  -if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :task_status_id
    = f.select :task_status_id, TaskStatus.all.map{|s| [s.name, s.id]}
  .actions
    = f.submit 'Save'
