%tr
  %td= task.name
  %td= distance_of_time_in_words_to_now(task.due_date) if task.due_date
  %td= select_tag :priority,
                  options_for_select(([''] + (1..9).map{|i| i.to_s}), :selected => task.priority),
                  :data => {:remote => true, :url => update_priority_context_workspace_task_path(@workspace.context, @workspace, task, :query => params[:query]), :method => :put}
  %td= select_tag :task_status_id,
                  options_for_select(@workspace.task_statuses.ordered.map{|s| [s.name, s.id]}, :selected => task.task_status_id),
                  :data => {:remote => true, :url => update_status_context_workspace_task_path(@workspace.context, @workspace, task, :query => params[:query]), :method => :put}
  %td= link_to 'Show', [@workspace.context, @workspace, task]
  %td= link_to 'Edit', edit_context_workspace_task_path(@workspace.context, @workspace, task)
  %td= link_to 'Destroy', context_workspace_task_path(@workspace.context, @workspace, task, :query => params[:query]), :confirm => 'Are you sure?', :method => :delete, :remote => true
