= task_breadcrumbs

%h1 Listing tasks

%p
  - if params[:query].blank? || params[:query][:task_status_id_eq].blank?
    %strong All
  - else
    = link_to 'All', project_context_tasks_path(@context.project, @context)
  &nbsp;
  - @context.task_statuses.ordered.each do |task_status|
    - if params[:query] && params[:query][:task_status_id_eq].to_i == task_status.id
      %strong= task_status.name
    - else
      = link_to task_status.name, project_context_tasks_path(@context.project, @context, 'query[task_status_id_eq]' => task_status)
    &nbsp;

%table
  %thead
    %tr
      %th Name
      %th Priority
      %th Status
  %tbody#tasks
    = render 'tasks'

%br

= link_to 'New Task', new_project_context_task_path(@context.project, @context)
