= task_breadcrumbs

%h1 Listing tasks

%p
  - if params[:query].blank? || params[:query][:task_status_id_eq].blank?
    %strong All
  - else
    = link_to 'All', context_workspace_tasks_path(@workspace.context, @workspace)
  &nbsp;
  - @workspace.task_statuses.ordered.each do |task_status|
    - if params[:query] && params[:query][:task_status_id_eq].to_i == task_status.id
      %strong= task_status.name
    - else
      = link_to task_status.name, context_workspace_tasks_path(@workspace.context, @workspace, 'query[task_status_id_eq]' => task_status)
    &nbsp;

%table
  %thead
    %tr
      %th Name
      %th Due date
      %th Priority
      %th Status
  %tbody#tasks
    = render @tasks

#paginator
  = paginate @tasks, :remote => true, :params => {:controller => :tasks, :action => :index}

%br

= link_to 'New Task', new_context_workspace_task_path(@workspace.context, @workspace)
