= task_breadcrumbs

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Priority:
  = @task.priority
%p
  %b Task status:
  = @task.task_status.name
%p
  %b Due date:
  = @task.due_date

= link_to 'Edit', edit_context_workspace_task_path(@workspace.context, @workspace, @task)
\|
= link_to 'Back', context_workspace_tasks_path(@workspace.context, @workspace)
