= task_status_breadcrumbs

= form_for [@context.project, @context, @task_status] do |f|
  -if @task_status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task_status.errors.count, "error")} prohibited this task_status from being saved:"
      %ul
        - @task_status.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
