= task_status_breadcrumbs

%h1 Listing task_statuses

%table
  %tr
    %th Name
    %th Default
    %th Todo
    %th
    %th
    %th

  - @task_statuses.each do |task_status|
    %tr
      %td= task_status.name
      %td= task_status.default
      %td= task_status.todo
      %td= link_to 'Show', [@workspace.context, @workspace, task_status]
      %td= link_to 'Edit', edit_context_workspace_task_status_path(@workspace.context, @workspace, task_status)
      %td= link_to 'Destroy', [@workspace.context, @workspace, task_status], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Task status', new_context_workspace_task_status_path(@workspace.context, @workspace)
