= task_status_breadcrumbs

%h1 Listing task_statuses

%table
  %tr
    %th Name
    %th Default
    %th
    %th
    %th

  - @task_statuses.each do |task_status|
    %tr
      %td= task_status.name
      %td= task_status.default
      %td= link_to 'Show', [@context.project, @context, task_status]
      %td= link_to 'Edit', edit_project_context_task_status_path(@context.project, @context, task_status)
      %td= link_to 'Destroy', [@context.project, @context, task_status], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Task status', new_project_context_task_status_path(@context.project, @context)
