= task_status_breadcrumbs

%p
  %b Name:
  = @task_status.name
%p
  %b Default:
  = @task_status.default
%p
  %b Todo:
  = @task_status.todo

= link_to 'Edit', edit_project_context_task_status_path(@context.project, @context, @task_status)
\|
= link_to 'Back', project_context_task_statuses_path(@context.project, @context)
