%h1 Organize
= link_to 'New context', new_context_path

- @contexts.ordered.each do |context|
  %p
    %strong= link_to context.name, context
    |
    = link_to 'Edit', edit_context_path(context)
    |
    = link_to 'New workspace', new_context_workspace_path(context)
    |
    = link_to 'Destroy', context, :confirm => 'Are you sure?', :method => :delete
    %ul
      - context.workspaces.ordered.each do |workspace|
        %li
          = link_to workspace.name, [context, workspace]
          - workspace.task_statuses.ordered.each do |task_status|
            |
            = link_to "#{task_status.name} (#{workspace.tasks.where(:task_status_id => task_status).count})", context_workspace_tasks_path(workspace, workspace, 'query[task_status_id_eq]' => task_status)
