- @contexts.each do |context|
  %h3= link_to context.name, context
  %ul
    - context.workspaces.ordered.each do |workspace|
      %li
        %strong= link_to workspace.name, [context, workspace]
        %ul
          - workspace.tasks.todo.priorized.ordered.each do |task|
            %li
              = link_to "#{task.priority ? "[#{task.priority}] " : ''}#{task.name}", [context, workspace, task]
              = select_tag :task_status_id,
                           options_for_select(workspace.task_statuses.ordered.map{|s| [s.name, s.id]}, :selected => task.task_status_id),
                           :data => {:remote => true, :url => update_status_todo_path(task), :method => :put}
